{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="result">
		<div class="container">
			<div class="result p100">
				<div class="title">Спасибо! Заказ принят</div>
				<p class="card__items_text">Наш флорист свяжется с вами в ближайшее время, чтобы уточнить детали доставки.</p>
				<div class="result__items_block">
					<a href="{% url 'catalog' %}" class="btn largeBtn result__items_block__btn">Смотреть коллекцию</a>
					<a href="{% url 'index' %}" class="btn largeBtn result__items_block__btn">На главную</a>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line"></hr>
				<a href="#" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2022. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
</body>
</html>
